* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(32 72 79);
} 

.d-flex{
    display: flex;
    justify-content: space-between;
    color: white;
}

.signup {
        width: 297px;
        height: 36px;
        background-color: white;
    }

.arxafon {
    background-color: rgb(220 242 237);
    width: 320px;
    height: 362px;
    border-radius: 114px;
    margin: 8rem;
    position: relative;
}

.sol {
    background-color: white;
    width: 253px;
    height: 312px;
    position: absolute;
    margin-top: -33rem;
    position: absolute;
    margin-left: 5rem;
    border-radius: 14px;
}

.sağ {
    background-color: white;
    width: 182px;
    height: 233px;
    position: absolute;
    margin-top: -27rem;
    position: absolute;
    margin-left: 23rem;
    border-radius: 14px;
}

.aşağı {
    background-color: white;
    position: absolute;
    width: 332px;
    height: 108px;
    margin-top: -11rem;
    margin-left: 3.5rem;
    border-radius: 14px;
}

.left {
    margin-top: 2rem;
}

.right {
    margin-top: 11rem;
    margin-right: 20rem;
}

.right p {
    line-height: 3rem;
}

.right h1 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

.sol h2, .sol h3 {
    margin-top: 2rem;
    color: rgb(32 72 79);
    background-color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding-left: 1rem;
}

.slimlines1 {
    width: 154px;
    height: 10px;
    margin-top: 1.5rem;
    margin-left: 1rem;
    border-radius: 57px;
    background-color: rgba(32, 72, 79, 0.1);
}

.slimlines2 {
    width: 181px;
    height: 10px;
    margin-top: 0.7rem;
    margin-left: 1rem;
    border-radius: 57px;
    background-color: rgba(32, 72, 79, 0.1);
}

.d-flex1{
    background-color: white;
    display: flex;
    justify-content: space-between;
}

i {
    border-radius: 65%;
    background-color: #DCF2ED;
    color: #20484F;
    margin-left: 1rem;
    margin-top: 2rem;
}

.solortaklik {
    background-color: white;
}

.solortalines{
    width: 78px;
    height: 10px;
    border-radius: 57px;
    background-color: rgba(32, 72, 79, 0.1);
    margin-top: 2.1rem;
    margin-right: 8.1rem;
}